@use '../abstracts/colorVar' as colors;
@use '../abstracts/mixin' as mx;

.btn {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    justify-content: space-around;
    cursor: pointer;

    >img.before-img {
        transition: transform 0.3s ease;
    }

    &:hover img.before-img {
        transform: rotate(-15deg);
    }
}

.start-btn {
    background-color: colors.$yellow;
    margin-top: 100px;
    width: 320px;
    >span {
        @include mx.write-s-c-w(40px, black, 700);
    }

    >img.after-img {
        transition: transform 0.3s ease;
    }

    &:hover img.after-img {
        transform: scale(1.25);
    }
}