@use '../abstracts/main' as colors;
@use '../base/typography' as typo;
@use "sass:map";




h1 {
    color: colors.$white;
    font-weight: map.get(typo.$weights, 700);
    font-size: map.get(typo.$sizes, 140);
    margin: 0;
}

h2 {
    font-weight: map.get(typo.$weights, 400);
    font-size: map.get(typo.$sizes, 48);
    color: colors.$white;
    margin: 0;
    font-family: 'Almarai';
}