$yellow: #f0ea6e;
$dark: #2f3131;
$white: white;
$black: #303131;
$grey: #f6f6f6;
$disabledGrey: #dbdbd6;
$disabledGreyWriting: #a3a1a1;
$bgBlueEndingP: #1e7594;
$bgDarkEndingC: #303131;
$orange: #f58e39;
$blue: #2aaffc;
$orangeGOP: #fd5b4f;
$blueGOC: #4dd5bc;
$bgScoreboard: #415652;



