@use 'colorVar' as colors;
@use 'functions' as fct;


@mixin flex-center($direction: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin content-width {
    max-width: 1440px;
    margin: 0 auto;
}

@mixin write-s-c-w($size: 16, $color: black, $weight:400 ) {
    color: $color;
    font-weight: $weight;
    font-size: fct.px-to-rem($size);
}

@mixin apply-theme($theme-map) {
  @each $property, $style in $theme-map {
    --#{$property}: #{$style};
  }
}