@use '../abstracts/main' as colors;
@use '../abstracts/mixin' as mx;

:root {
    --cols: 6;
    --rows: 6;
}

.board-overview {
    @include mx.flex-center(row);
    width: 100%;
    justify-content: space-between;
}

.body-board {
    background-color: colors.$bgDarkEndingC;
    font-family: 'Red Rose', sans-serif;
}

.c-g-ov {

    &__player {
        @include mx.flex-center(row);
        @include mx.write-s-c-w(26px, colors.$white, 400);
        margin-top: auto;
    }

    &__player>p {
        padding-right: 10px;
        margin: 0;
    }

    >button {
        margin-top: 0;
    }

    >button img {
        padding-right: 10px;
    }
}

.grid-container {
    display: grid;
    width: 95vw;
    height: 85vh;
    max-width: 950px;
    max-height: 790px;
    justify-content: center;
    align-content: center;
    gap: 10px 0;
    margin-top: 40px;
    box-sizing: border-box;
    grid-template-columns: repeat(var(--cols), 130px);
    grid-template-rows: repeat(var(--rows), 120px);
}

.dialog {
    @include mx.flex-center();
    display: none;
    border: none;
    background-color: colors.$white;
    width: 430px;
    text-align: center;

    &__p {
        @include mx.write-s-c-w(32px, colors.$black, 700);
    }

    &__btns {
        @include mx.flex-center(row);
        justify-content: space-around;
    }

    &__back-btn {
        background-color: colors.$bgBlueContBtn;
        border: none;
        @include mx.write-s-c-w(20px, colors.$white, 700);

        &:hover {
            background-color: colors.$bgBlueContBtnHover;
        }
    }

    &__exit-btn {
        background-color: colors.$bgBlueExitGameBtn;
        @include mx.write-s-c-w(20px, colors.$blueGOC, 700);
        border: 1px solid colors.$blueGOC;

        &:hover {
            border: 1px solid colors.$bgBlueContBtnHover;
            background-color: colors.$bgBlueContBtnHover;
            @include mx.write-s-c-w(20px, colors.$white, 700);
        }
    }

}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeInBackdrop 0.3s ease forwards;
}

dialog[open] {
    display: flex;
    animation: slideUpFadeIn 0.4s ease forwards;
}

dialog.closing::backdrop {
    animation: fadeOutBackdrop 0.4s ease forwards;
}


@keyframes fadeOutBackdrop {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeInBackdrop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUpFadeIn {
    from {
        opacity: 0;
        transform: translateY(220px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

dialog.closing {
    animation: slideDownFadeOut 0.4s ease forwards;
}

@keyframes slideDownFadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(220px);
    }
}

.card {
    box-sizing: border-box;
    cursor: pointer;
    perspective: 1000px;
    width: 120px;
    height: 120px;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s ease;
    }

    &.flipped .card__inner {
        transform: rotateY(180deg);
    }

    &__front,
    &__back {
        @include mx.flex-center(row);
        position: absolute;
        inset: 0;
        backface-visibility: hidden;
        overflow: hidden;
        
    }

    &__back {
        transform: rotateY(180deg);
        background-color: colors.$bgCardsGrey;

    }

    &.matched {
        pointer-events: none;
        border: 2px solid colors.$blueGOC;
    }
}