@use '../abstracts/main' as colors;
@use '../abstracts/mixin' as mx;



body[data-theme="code"] {
    img[alt="blue is the winner"] {
        display: block;
    }

    img[alt="orange is the winner"] {
        display: block;
    }

    img[alt="scale blue"] {
        display: block;
    }

    img[alt="Orange is the winner"] {
        display: none;
    }

    img[alt="Blue is the winner"] {
        display: none;
    }

    img[alt="scale red"] {
        display: none;
    }
}

body[data-theme="projects"] {
    img[alt="blue is the winner"] {
        display: none;
    }

    img[alt="orange is the winner"] {
        display: none;
    }

    img[alt="scale blue"] {
        display: none;
    }

    img[alt="display of confetti"] {
        display: none;
    }

    img[alt="Orange is the winner"] {
        display: block;
    }

    img[alt="Blue is the winner"] {
        display: block;
    }

    img[alt="scale red"] {
        display: block;
    }
}

.body {
    background-color: var(--body-bg-results);
}

.score-headline {
    font-family: var(--font);
    @include mx.write-s-c-w(26, white, 400);
    margin-bottom: 20px
}

.h1 {
    @include mx.write-s-c-w(124, colors.$white, 700);
    color: var(--result-h1-col);
    text-shadow: var(--text-shadow);
}

.pos {
    position: relative;
}

.header-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
}


.h2-winner[data-winner="blue"] {
    @include mx.write-s-c-w(60, colors.$orange, 700);
    margin-top: 0;
    font-family: var(--font);
    color: var(--h2-winner-color-blue);
}

.h2-winner[data-winner="orange"] {
    @include mx.write-s-c-w(60, colors.$orange, 700);
    margin-top: 0;
    font-family: var(--font);
    color: var(--h2-winner-color-orange)
}

.h2-winner[data-winner="draw"] {
    @include mx.write-s-c-w(120, colors.$orange, 700);
    margin-top: 0;
    font-family: var(--font);
    text-shadow: var(--text-shadow);
    color: var(--result-h1-col);
    margin-bottom: 20px;
}

.winner-c {
    @include mx.write-s-c-w(40, colors.$white, 400);
    margin-bottom: 0;
    margin-top: 170px;
}


#containerResults {
    position: relative;
    height: 100vh;
    z-index: 1;
}

#containerWinner {
    position: fixed;
    background-color: var(--body-bg-results);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    z-index: 10;

    animation: curtain-drop 1s ease-in-out 2s both;
}

@keyframes curtain-drop {
    from {
        transform: translateX(-50%) translateY(-100%);
    }

    to {
       transform: translateX(-50%) translateY(0);
    }
}