@use '../abstracts/main' as colors;
@use '../abstracts/mixin' as mx;




.span-go-c {
    font-family: 'Red Rose', sans-serif;
    @include mx.write-s-c-w(26, white, 400);
    margin-bottom: 20px
}

.span-go-p {
    font-family: 'Figtree', sans-serif;
    @include mx.write-s-c-w(26, white, 400);
    margin-bottom: 20px
}



.scoreboard-projects {
    @include mx.flex-center(row);
    
    padding: 10px 20px;
    width: 150px;
    justify-content: space-around;
    border-radius: 10px;
    gap: 20px;

    &__container {
        @include mx.flex-center(row);
    }

    &__b-write {
        @include mx.write-s-c-w(32, colors.$blue, 700);
        padding: 5px
    }

    &__o-write {
        @include mx.write-s-c-w(32, colors.$orange, 700);
        padding: 5px
    }
}

.pos {
    position: relative;
}

.header-img {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
}

.h2-winner {
    @include mx.write-s-c-w(60, colors.$orange, 700);
    margin-top: 0;
}

.winner-c {
    @include mx.write-s-c-w(40, colors.$white, 400);
    margin-bottom: 0;
    margin-top: 100px;
}

.winner-p {
    @include mx.write-s-c-w(40, colors.$white, 400);
    margin-bottom: 0;
    margin-top: 100px;
    font-family: 'Figtree', sans-serif;
}


.h2-winner-p {
    @include mx.write-s-c-w(80, colors.$white, 700);
    margin-top: 0;
    font-family: 'Figtree', sans-serif;
}