@font-face {
    font-family: 'Red Rose';
    src: url('../../assets/fonts/Red_Rose/RedRose-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Almarai';
    src: url('../../assets/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree';
    src: url('../../assets/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
}